<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Rede Piemonte Online</name>

  <description>
      APP Piemonte
  </description>

  <author href="https://redepiemonteonline.blogspot.com" email="bc13092002@gmail.com">
      Bruno Cardoso
  </author>

        <feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />

<platform name="android">
		<icon src="Icons\36x36.png" qualifier="ldpi" />
		<icon src="Icons\48x48.png" qualifier="mdpi" />
		<icon src="Icons\72x72.png" qualifier="hdpi" />
		<icon src="Icons\96x96.png" qualifier="xhdpi" />
		<splash src="Icons\240-x-320.png" qualifier="" />
		<splash src="Icons\320x240.png" qualifier="" />
		<splash src="Icons\320x480.png" qualifier="" />
		<splash src="Icons\480x320.png" qualifier="" />
		<splash src="Icons\480x800.png" qualifier="" />
		<splash src="Icons\800x480.png" qualifier="" />
		<splash src="Icons\720x1280.png" qualifier="" />
		<splash src="Icons\1280x720.png" qualifier="" />
		<splash src="Icons\960x1600.png" qualifier="" />
		<splash src="Icons\1600x960.png" qualifier="" />
		<splash src="Icons\1280x1920.png" qualifier="" />
		<splash src="Icons\1920x1280.png" qualifier="" />
</platform>
<platform name="winphone">
        <icon src="Icons\36x36.png" qualifier="ldpi" />
		<icon src="Icons\48x48.png" qualifier="mdpi" />
		<icon src="Icons\72x72.png" qualifier="hdpi" />
		<icon src="Icons\96x96.png" qualifier="xhdpi" />
		<splash src="Icons\240-x-320.png" qualifier="" />
		<splash src="Icons\320x240.png" qualifier="" />
		<splash src="Icons\320x480.png" qualifier="" />
		<splash src="Icons\480x320.png" qualifier="" />
		<splash src="Icons\480x800.png" qualifier="" />
		<splash src="Icons\800x480.png" qualifier="" />
		<splash src="Icons\720x1280.png" qualifier="" />
		<splash src="Icons\1280x720.png" qualifier="" />
		<splash src="Icons\960x1600.png" qualifier="" />
		<splash src="Icons\1600x960.png" qualifier="" />
		<splash src="Icons\1280x1920.png" qualifier="" />
		<splash src="Icons\1920x1280.png" qualifier="" />
</platform>
<icon src="icon.png" />

</widget>