<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <title>Noticias</title>
        
        <script>
            
            function slidetoggle() {
                
                var slider = document.getElementById("barra-menu")
                
                if(slider.style.left == "0%") {
                    slider.style.left = "-100%";
                    
                }else {
                    slider.style.left = "0%";
                }
                
            }
            
        </script>
        
    </head>
    <body>
        
        <div class="app">
            <div class="topo">
                <label id="icone" onclick="slidetoggle()"><img id="oi" src="../css/img/menu.png" /></label>
                <p><b>Notícias</b></p>
                
            </div>
            <section id="barra-menu">
                    <nav id="itens">
                        <div class="perfil"><img src="../css/img/Rede%20Piemonte%20Online.png" /></div>
                        <a href="../index.html"><div class="link"><img src="../css/img/Home.png" /> <p>Home</p></div></a>
                        <a href="Noticias.html"><div class="link"><img src="../css/img/News.png" /><p>Notícias</p></div></a>
                        <a href="Programacao.html"><div class="link"><img src="../css/img/Programa%C3%A7%C3%A3o.png" /><p>Programação</p></div></a>
                        <a href="Equipe.html"><div class="link"><img src="../css/img/Equipe.png" /><p>Equipe</p></div></a>
                        <a href="Sobre.html"><div class="link"><img src="../css/img/More.png" /><p>Sobre</p></div></a>
                    
                    </nav>
                
            </section>
            
            
            
            <div class="corpo">
            
            </div>
            <div class="rodape">
            
            </div>
            
            
        </div>
        
        <div class="clear"></div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
